{% extends "network/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card mt-5">
        <div class="card-header text-center">
          <h3>SAT - Logowanie</h3>
        </div>
        <div class="card-body">
          {% if form.errors %}
          <div class="alert alert-danger">
            Błąd logowania!
          </div>
          {% endif %}
          <form method="post" novalidate>
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_username" class="form-label">Nazwa użytkownika</label>
              <input type="text" name="username" class="form-control" id="id_username" placeholder="Podaj nazwę użytkownika" autofocus>
            </div>
            <div class="mb-3">
              <label for="id_password" class="form-label">Hasło</label>
              <input type="password" name="password" class="form-control" id="id_password" placeholder="Podaj hasło">
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Zaloguj</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <small>&copy; Telgam S.A. 2025</small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
